<h3>A demo to play with lists</h3>

    <ul class="list-group">
      <li class="list-group-item animate-repeat row " ng-repeat="name in names">
        <span class="col-md-8"> {{name.value | uppercase}}</span>
        <a class="btn" class="col-md-4" ng-click="deleteItem(name)">Delete</a>
      </li>
    </ul>

  <br/>

  <div class="input-group">
    <input type="text" class="form-control" placeholder="Add item" ng-model="newItem" collapse="isCollapsed">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button" ng-click="addItem()">Add</button>
    </span>
  </div>
